{% extends 'myapp/base.html' %}
{% block content %}
<div class="row">
	
		<div class="feature-left">
			<span class="icon">
			<i class="icon-hotairballoon"></i>
			</span>
			<div class="feature-copy">
				<h3>Hello</h3>
				<p>Nothing in my brain.</p>
				<img src="https://th.seaicons.com/wp-content/uploads/2015/07/Bart-Simpson-01-icon.png">
				<p><a href="#">eiei <i class="icon-arrow-right22"></i></a></p>
			</div>
		</div>
	
</div>

{% endblock %}


